@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

section {
    overflow: hidden;
}

.section-header h3 {
    text-align: center;
}

.section-bg {
    background: #f5f8fd;
}

.section-reopen h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-reopen p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

@media (max-width: 767px) {
    .section-header p {
        width: 100%;
    }
}

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #bd0745;
}
}

#services .box:hover {
    border: 1px solid #bd0745;
}

#services .box:hover {
    transform: scale(1.05);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon .service-icon {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #c59c35;
}

#services .box:hover .title a:hover {
    text-decoration: none;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
}

.plan-head {
    text-align: center;
    padding-bottom: 25px;
}

/*event*/

.schedule-warp {
    padding-right: 20px;
    padding-left: 20px;
    padding: 20px 30px;
    border: solid 1px #ddd;
    background-color: #f5f5f5;
    -webkit-transition: all 0.7s cubic-bezier(0.11, 0.6, 0.24, 0.89);
    transition: all 0.7s cubic-bezier(0.11, 0.6, 0.24, 0.89);
}

.schedule {
    background-color: #fff;
}

.schedule-warp:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, .07);
    border: solid 1px rgba(100, 40, 145, .97);
}

.schedule {
    padding: 100px 0px;
    background-color: #ecedf0;
    font-family: 'Titillium Web';
}

.schedule-tag {
    color: #fff;
    background-color: #8c0533;
    padding: 3px 8px;
    margin-right: 15px;
    width: 90px;
    font-family: 'Titillium Web';
    text-align: center;
}

.schedule-header span {
    display: inline-block;
    margin-right: 25px;
}

.schedule-header {
    margin-bottom: 80px;
}

.schedule-card {
    position: relative;
    margin-bottom: 0.7em;
}

.schedule-card:hover .insidebox {
    transform: scale(1.033);
    /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-card:hover:after {
    background: #8a56d1;
    width: 25px;
}

.schedule-card:after {
    height: 2px;
    width: 22px;
    background: #ddd;
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    transition: all 0.3s ease-in;
}

.insidebox {
    box-shadow: 0 0px 5px rgba(0, 0, 0, .07);
    background: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 20px;
    color: #6164B2;
    transition: all 0.2s ease-in;
    /*    justify-content: center;*/
}

.day-one {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 13px;
    color: #381c25;
}

.event-head {
    text-align: center;
    padding-bottom: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

/*event-end*/

.wrap {
    overflow: hidden;
    margin: 10px;
}

.box-gallery {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 20%;
}

.boxInner {
    position: relative;
    margin-left: 13px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

.boxInner img {
    width: 100%;
}

.boxInner .titleBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.no-touch .boxInner:hover .titleBox,
div.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}

@media only screen and (max-width : 480px) {

    /* Smartphone view: 1 tile */
    .box-gallery {
        width: 100%;

    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {

    /* Tablet view: 2 tiles */
    .box-gallery {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {

    /* Small desktop / ipad view: 3 tiles */
    .box-gallery {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {

    /* Medium desktop: 4 tiles */
    .box-gallery {
        width: 25%;
        padding-bottom: 25%;
    }
}

.selectableImageContainer {
    border: 1px solid #CCC;
    padding: 5px;
    margin: 7px;
    float: left;
    width: 212px;
    text-align: center;
}

.zoom_toolbar_button {
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 6px 0 0 3px;
}

.approved_image_toolbar_button {
    background-color: #8bc249;
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 8px;
    cursor: pointer;
    padding: 6px 0 0 3px;
}

.disapproved_image_toolbar_button {
    background-color: #bb232a;
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 8px;
    cursor: pointer;
    padding: 6px 0 0 1px;
}

.reviewIssuesButton {
    margin-left: 20px;
    color: #ffffff;
    background-color: #00aeef;
}

.markAllReviewed {
    background-color: #00aeef;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ffffff;
}

.white {
    color: #ffffff;
}


/*gallery-end*/
/*navbar*/
.navborder {
    box-shadow: 0 6px 12px rgb(0 0 0 / 0%);

}

/*navbar-end*/
/*about us css*/
.feature {
    padding-left: 40px;
}

.aboutus-section {
    padding: 90px 0;
    min-height: 53vh;

}

.aboutus p {
    letter-spacing: 0.4px;
    text-align: justify;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 110px;
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
    text-align: justify;
}

a:hover,
a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.feature .feature-box .iconset {
    background: #fce9f0 none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .iconset::after {
    background: #bd0745 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.aboutus-banner img {
    width: 100%;
    position: absolute;
    top: 56px;

}

@media only screen and (max-width: 768px) {
    .aboutus-banner img {
        padding-block: 15px;
        position: static;

    }

    .carousel {
        margin-top: 87px;
    }

    .sidebar {
        margin-bottom: 11px;
    }
}

.iconset span {
    color: #bd0745;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #bd0745;
    border-radius: 100px;
    color: #bd0745;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

/*about us css end*/
body {
    background: #f7b6cc4a;
}

.section-bg {
    background: #fce9f0;
}

.spacet80 {
    padding-top: 80px;
}

.about-school {
    letter-spacing: 1px;
    font-family: 'Questrial', sans-serif;
    padding-right: 40px;

}

.navborder .navbar-toggle {
    top: -65px;
}

.event-page {
    padding-top: 40px;
}

.event-page img {
    border: 2px solid #bd07459e;
    padding: 4px;
    border-radius: 3px;
}